body {
    background-color: #EAF6F6;
}
hr{
    border-style: dotted none none;
    border-width: 7px;
    border-color: grey;
    width: 10%;
    height: 10;

}
.mainhr{
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 70%;
    border-width: 2px;
    border-radius: 100%;
    border-color: aqua;
    background-color: aqua;

}
h1{
    color: #668FBF;
}
h2{
    color: #668FBF;
}
h1:hover{
    color: rgb(43, 255, 0);
}
h2:hover{
    color: rgb(38, 255, 0);
}